/* CSS Document */
.header{
float:left;
top:0;
left:0;
}

.myHeader{
float:left;
width:320px;

}
.myHeader li{
list-style:none;
float:left;
margin:9px;
}

#editBox{
display:none;
}

#editBox input{
border:none;
border-bottom:solid #000000 2px;
}
